body {
  background: black;
  color: white;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}
main {
  margin-top: 1em;
}

.navbar {
  margin: 0em 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  color: #2db5e1;
  font-size: 50px;
  text-shadow: 5px 2px 10px #7d9ba5;
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /*letter-spacing: 2px; /*removed letter spacing to avoid issue when hovering over logout*/
  font-size: 17px;
  width: 6.5em;
  height: 2.5em;
  border: 3px solid;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: black;
  color: #2db5e1;
  border-color: #2db5e1;
}
button:hover {
  cursor: pointer;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #2db5e1;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}
