body {
  background: black;
  color: white;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

main {
  margin-top: 1em;
}

.navbar {
  margin: 0em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 560px){
  .navbar {
    margin: 0em 1em;
  }
  button {
    width: auto;
  }
  .logo {
    width: 10rem;
    height: 4rem;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.button {
  letter-spacing: 1px;
  font-size: 17px;
  padding: 0.5em 1em;
  border: 3px solid;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: black;
  color: #2db5e1;
  border-color: #2db5e1;
}
.button:hover {
  cursor: pointer;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #2db5e1;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}

#send {
  margin-bottom: 0%;
}

/*achievement*/
.achievement_popup {
  position: fixed;
  bottom: 0;
  right: 10px;
  animation: popup 8s;
  background-color: #1e2527;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid#51d0fa;
  border-right: 1px solid#51d0fa;
  border-left: 1px solid#51d0fa;
  width: 0;
  text-align: center;
  opacity: 0;
}

.ach_Img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-top: 10%;
}

.ach_p {
  margin-top: 5%;
}

@keyframes popup {
  0% {
    opacity: 1;
    width: 10em;
  }
  99% {
    opacity: 0;
    width: 10em;
  }
  100% {
    width: 0;
  }
}
/*achievement*/

/*---------------------Sign up / Login content---------------------*/

.fill_form {
  background-color: #7d9ba53d;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  text-transform: uppercase;
  color: #2db5e1;
  border-radius: 10px;
}
form {
  display: grid;
  width: 70%;
  padding: 2em;
}
h2 {
  font-size: 28px;
}
.sf {
  margin: 0.6em 0em;
  padding: 1em;
  border: 2px solid #2db5e1;
  background-color: black;
  color: #51d0fa;
  font-weight: bold;
  border-radius: 8px;
}
#problem {
  height: 7em;
}

button {
  margin: 2em 0em;
  background-color: #2db5e1;
  color: white;
  border-color: #2db5e1;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 0.5em 1em;
  border: 1px solid;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
  font-weight: bold;
}
.submit {
  margin-top: 3%;
  margin-bottom: 5%;
  background-color: #2db5e1;
  color: white;
  border-color: #2db5e1;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
}
#mobile_footer {
  display: none;
}
.portrait {
  border-radius: 50%;
  max-width: 50%;
}

@media screen and (max-width: 992px) and (min-width: 460px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 22px;
  }
  .button,
  .submit {
    font-size: 14px;
  }
  a,
  p {
    font-size: 14px;
  }
  .fill_form {
    width: 70%;
  }

  #desktop_footer {
    display: none;
  }
  #mobile_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer_img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2em;
  }
}

@media screen and (max-width: 460px) {
  .button {
    font-size: 11px;
    border: 2px solid;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
  .fill_form {
    width: 90%;
  }
  .submit {
    font-size: 10px;
  }

  a,
  p {
    font-size: 13px;
  }

  #desktop_footer {
    display: none;
  }
  #mobile_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer_img {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

/* For account_PDO */

@media screen and (min-width: 992px) {
  .account_content {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.achievements_board {
  display: grid;
  grid-gap: 0.5em;
}

.achievImage {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 992px) {
  .achievements_board {
    display: grid;
    grid-gap: 1em;
  }
}
