 body {
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
} 
.black-font {
  color: black;
}
.navbar-bg {
  background-color: black;
}
.white-font {
  color: white;
}

.navig-link:hover {
    color:lightskyblue;
}
.navig-link:active {
  color: lightseagreen;
}
.font-align {
  color: white;
}
#searchbar {
  border-radius: 1rem;
}
a {
  text-decoration: none;
  color: #2db5e1;
  font-size: 15px;
}
.navig-link2:hover {
  color: lightskyblue;
  text-decoration: underline;
}
#footer {
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}
.portrait {
  border-radius: 50%;
  max-width: 50%;
}

/*achievement*/
.achievement_popup {
  position: fixed;
  bottom: 0;
  right: 10px;
  animation: popup 8s;
  background-color: #1e2527;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid#51d0fa;
  border-right: 1px solid#51d0fa;
  border-left: 1px solid#51d0fa;
  width: 0;
  text-align: center;
  opacity: 0;
  z-index: 9;
}

.ach_Img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-top: 10%;
}

.ach_p {
  margin-top: 5%;
}

@keyframes popup {
  0% {
    opacity: 1;
    width: 10em;
  }
  99% {
    opacity: 0;
    width: 10em;
  }
  100% {
    width: 0;
  }
}
/*achievement*/

  .submit {
    background-color: #2db5e1;
    color: white;
    border-color: #2db5e1;
    font-size: 16px;
    border-radius: 0.5rem;
  }
  .submit:hover{
    font-weight: bold;
  }
  .hide {
      display: none;
  }

  .card {
    position: fixed;
    top: 14%;
     right: 25%;
     width: 50%;
    bottom:12%; 
    z-index:1;
    overflow: auto; 
     /* overflow: auto; 
    width:900px;
     height:500px; */
  }

  .trailer-area {
    width: 92%;
    height:550px;
    min-width: 90%;
    min-height: 100%;
  }


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .dropdown-menu {
    margin-left: -6rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hide2 {
    display: none;
  }
}
/* The box-sizing property allows us to include the padding and border in an element's total width and height. */
 * {box-sizing: border-box;}
.carousel-cell {
    width: 200px;
    height: 300px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
}

.carousel-cell img {
    width: 200px;
    height: 300px;
}
  .content, .success {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 2em 0em;
  }

