body {
    background: black;
    color: white;
    /* margin: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}
.black-font {
color: black;
}
.navbar-bg{
 background-color:black;
}
.white-font {
    color:white;
}
.navig-link:hover {
    color:lightskyblue;
    /* font-size: 1.2rem; */
}
.navig-link:active {
    color: lightseagreen;
  }
.font-align {
    color: white;
}
#searchbar {
    border-radius: 1rem;
}
a {
    text-decoration: none;
    color: #2DB5E1;
    font-size: 15px;
}
.navig-link2:hover {
    color:lightskyblue;
    text-decoration: underline;
}
#footer {
    /* position: absolute;*/
    bottom: 0;
    width: 100%;
    /* height: 70px; */
    margin-top: 30px;
}
.portrait {
    border-radius: 50%;
    max-width: 50%;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .dropdown-menu {
        margin-left: -6rem;
    }
 }
 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
    .hide2 {
        display: none;
          }
 }
/* The box-sizing property allows us to include the padding and border in an element's total width and height. */
 * {box-sizing: border-box;}

 /* body { font-family: sans-serif; } */
 /* .carousel {
     background: black;
 } */
.carousel-cell {
    width: 200px;
    height: 300px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    /* counter-increment: carousel-cell; */
}

.carousel-cell img {
    width: 200px;
    height: 300px;
    /* background-size: cover; */
}
 
  .content, .success {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 2em 0em;
  }
