body {
    background-image: url('../assets/Screenshot_movies_copy2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome_bg{
    z-index: -1;
    opacity: 10%;
    width: 100%;
    height: 100%;
}

.welcomeBox {
    display: flex;
    flex-direction: column;
    /* justify-content: center;*/
    margin: 3em auto;
    text-align: center;
    align-content: center;
    align-items : center;
    width: 60%;
}

#CTA {
    font-size: 30px;
    text-align: center;
    margin: 3em;
}

section {
    display: flex;
    flex-direction: column;
}

.info {
    width: 40%;
    margin: 2em;
}
#info2 {
    justify-content: right;
}
/* footer{
    position: relative;
}
*/
